#soup{
    transform-origin: center;
    transform-box: fill-box;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation: soupUp 5s 1;
    transition: ease-in-out;
}
#spoon{ 
    transform-origin:center;
    transform-box: fill-box;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation: spoonUp 5s 1;
     transition: ease-in-out;
}


@keyframes spoonUp {
    from {transform: rotate(20deg);}
    to {transform: rotate(0);}
}

@keyframes soupUp {
    from { 
        opacity: 0;
        transform:translateY(40px) scale(0.5,0.1);
    }
    to {
        transform: translateY(0) scale(1,1);
        opacity: 1;
    }
}
